body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

#pic1 {
	float: right;
	
}

#pic2 {
	float: right;
	margin-top: -5px
	
}

#pic3 {
	float: right;
	
}



p1 {
        color: rgb(1, 168, 80);
	margin-top: 10px
	
	
}

#container1 {
	margin-top: 10px;
	margin-left: 100px;
	margin-right: 100px;

	padding: 10px 150px 10px 150px;

	border-radius: 15px;
	background-radius: 15px;
	background-color: rgb(66, 43, 113);

	text-align: left;
}

#container2 {
	margin-top: 5px;
	margin-left: 100px;
	margin-right: 100px;

	padding: 10px 150px 10px 150px;

	border-radius: 15px;
	background-color: rgb(0, 80, 131);

	text-align: left;
}

#container3 {
	margin-top: 5px;
	margin-left: 100px;
	margin-right: 100px;

	padding: 10px 150px 10px 150px;

	border-radius: 15px;
	background-color: rgb(0, 56, 43);

	text-align: left;
}

h1 {
	font-size: 64px;
	color: #FFFFFF;
	margin-top: -5px;
	margin-bottom: -20px;
}

h2 {
	font-size: 44px;
	margin-top: -5px;
	margin-bottom: -6px;
	color: #FFFFFF;
}

h3 {
	font-size: 26px;
	margin-bottom: -10px;
}

h4 {
	color: rgb(228, 169, 49);
	font-size: 18px;
	margin-bottom: -6px;
	
}
