body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

p1 {
  color: red;
	
}

p2 {
  color: yellow;
}

#container1 {
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 100px;

	padding: 10px 150px 10px 150px;

	border-radius: 15px;
	background-radius: 15px;
	background-color: rgb(66, 43, 113);

	text-align: left;
}

#container2 {
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 100px;

	padding: 10px 150px 10px 150px;

	border-radius: 15px;
	background-color: Purple;

	text-align: left;
}

#container3 {
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 100px;

	padding: 10px 150px 10px 150px;

	border-radius: 15px;
	background-color: #FF0000;

	text-align: left;
}

h1 {
	font-size: 64px;
	margin-bottom: 0px;
}

h2 {
	font-size: 18px;
	margin-bottom: -6px;
}

h3 {
	font-size: 26px;
	margin-bottom: -10px;
}

h4 {
	font-size: 22px;
	margin-bottom: -10px;
}
